@import '../../../../styles/constants.scss';

.checkout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 28%;
  height: 400px;
  background: $white;
  margin-bottom: 50px;
  padding: 0 28px;
}

.checkout-form-input {
  width: 100%;
  height: 36px;
  border: 1px solid $grey;
  border-radius: 8px;
  padding-left: 25px;
}

.checkout-form-error-input {
  width: 100%;
  height: 36px;
  border: 1px solid $red !important;
  border-radius: 8px;
  padding-left: 25px;
}

.checkout-form-input:focus, .checkout-form-error-input:focus {
  outline: none;
}

.checkout-form-heading {
  font-family: 'Medium';
  font-size: 24px;
  margin: 32px 0 25px;
}

.checkout-form-button {
  background: $primaryColor;
  border-radius: 8px;
  color: $white;
  font-size: 18px;
  font-family: "Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 142px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.checkout-option-text {
  color: $black;
}

.checkout-terms-text {
  color: $darkGrey;
  font-size: 12px;
  font-family: "Medium";
  text-align: center;
}

.checkout-privacy-link {
  text-decoration: underline;
  cursor: pointer;
}

.checkout-error {
  color: $red;
  font-size: 12px;
  font-family: 'Medium';
  margin-bottom: 3px;
}

.checkout-error-invis {
  color: $white;
  font-size: 12px;
  font-family: 'Medium';
  margin-bottom: 3px;
}