.lang-wrapper {
  display: flex;
  width: 56px;
  height: 26px;
  align-items: center;
  padding: 0 2px;
  justify-content: space-between;
  background-color: $white;
  border-radius: 16px;
  position: relative;
}

.lang-wrapper:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 22px;
  background: #124193;
  border-radius: 13px;
  left: 2px;
  transition: transform 225ms ease;
}

.ro-active.lang-wrapper:before {
  transform: translateX(0);
}

.ru-active.lang-wrapper:before {
  transform: translateX(25px);
}

.lang {
  z-index: 1;
  font-size: 11px;
  font-family: $medium;
  color: $primaryColor;
  cursor: pointer;
  height: 24px;
  width: 26px;
  //border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: $white;
  transition: color 225ms ease;
}
