.lang-wrapper {
  display: flex;
  width: 50px;
  height: 25px;
  align-items: center;
  padding: 0 2px;
  justify-content: space-between;
  background-color: $white;
  border-radius: 16px;
}

.lang {
  font-size: 10px;
  font-family: $regular;
  color: $primaryColor;
  cursor: pointer;
  height: 22px;
  width: 25px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: $primaryColor;
  color: $white;
}