@import '../../../../styles/constants.scss';

.search-container {
  min-width: 100px;
  max-width: 410px;
  width: 33%;
  height: 30px;
  margin: auto 0;
  border-radius: 16px;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 30px;
  border-radius: 16px;
  border: none;
  background: $semiTransparentWhite;
  color: $white;
  font-family: $regular;
  font-size: 14px;
  padding: 2px 0 0 20px;
  margin-top: -2px;
}

.search-bar::placeholder {
  color: #ffffff;
}

.search-bar-active {
  width: 100%;
  height: 47px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: none;
  background: $white;
  color: $black;
  font-size: 14px;
  font-family: $medium;
  padding: 2px 0 0 20px;
  z-index: 5;
  position: relative;
  overflow: hidden;
}

.search-bar:focus, .search-bar-active:focus {
  outline: none
}

.search-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 7px;
  background: $searchIcon;
}

.search-product-wrapper {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  background: $background;
  padding: 0 8px;
}

.search-overlay {
  margin-top: 16px;
  box-shadow: 3px 12px 8px rgba(0, 0, 0, 0.1);
}

.search-results-container {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  width: 380px;
  padding-top: 1px;
  max-height: 345px;
  z-index: 15 !important;
  position: relative;
}

.search-results-container-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 380px;
  box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 1px;
  max-height: 345px;
}

.search-product-image {
  width: 52px;
  height: 52px;
}

.search-product-text {
  display: flex;
  height: 65%;
  flex-direction: column;
  font-family: 'Bold';
  justify-content: space-between;
}

.search-product-name {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
}

.search-product-price {
  font-size: 12px;
}

.search-results-divider {
  height: 1px;
  width: 380px;
  background: $grey;
}

.button-to-product {
  width: 22px;
  height: 20px;
  background: url('../../../../../public/svg/ArrowCircle.svg') no-repeat;
  cursor: pointer;
}

.close-circle-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 15px;
  z-index: 10;
  cursor: pointer;
  background: url('../../../../../public/svg/CloseButtonGray.svg') no-repeat
}

.close-circle-icon2 {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 14px;
  top: 6px;
  z-index: 10;
  cursor: pointer;
  background: url('../../../../../public/svg/CloseButton.svg') no-repeat
}

.search-skeleton-wrapper {
  width: 380px;
  display: flex;
  background: $white;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 12px 18px 0 16px;
  z-index: 10;
  position: relative;
}

.search-skeleton-text {
  height: 20px;
  width: 230px;
}

.no-items-container {
  width: 380px;
  display: flex;
  background: $white;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.no-items-text {
  font-family: 'Medium';
  font-size: 14px;
}
