@import '../../../styles/constants.scss';


@keyframes menu-enters {
  from {
    transform: translateY(-30px);
    opacity: 0
  }
}


.menu-container {
  opacity: 1;
  transform: translateY(0);
  animation: menu-enters 125ms cubic-bezier(0.33, 1, 0.68, 1);
  height: 450px;
  background: $primaryColor;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  color: $white;
}

.categories-list {
  overscroll-behavior: contain;
  overflow-x: auto;
  width: 350px;
  margin: 32px 0 32px 50px;
  position: relative;
}

.subcategories {
  overscroll-behavior: contain;
  overflow-x: auto;
  position: absolute;
  height: 387px;
  width: 666px;
  left: 436px;
  top: 31px;
  background: $primaryAccentColor;
  border-radius: 16px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.menu-list-item {
  width: 315px;
  height: 42px;
  padding-left: 16px;
  border-radius: 16px;
  margin-right: 15px;
  display: flex;
  cursor: pointer;
}

.menu-list-item.highlighted {
  background-color: $primaryAccentColor;
}

.menu-item-title {
  font-size: 16px;
  font-family: $medium;
  margin: auto 0;
}

.children-item {
  cursor: pointer;
  height: 42px;
  display: flex;
}

.children-title {
  font-size: 16px;
  font-family: $medium;
  margin: auto 0;
}

.hide-menu {
  //top: -550px;
}
