@import '../../../styles/constants.scss';

.subcat-container {
  display: flex;
  justify-content: space-between;
}

.subcategories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.subcat-card-wrapper {
  width: 180px;
  height: 260px;
  border-radius: 14px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 14px 14px 0 14px;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.subcat-card-image {
  margin-bottom: 10px;
  width: 152px;
  height: 178px;
}

.subcat-title-text {
  font-family: 'Medium';
  font-size: 14px;
  text-align: center;
}

.subcat-banner {
  width: 342px;
  height: 610px;
  border-radius: 16px;
  background-color: #d5fdff;
  display: flex;
  justify-content: center;
  align-items: center;
}

//xs
@media screen and (min-width: 0) and (max-width: $xs) {
  .subcategories-grid {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px !important;
  }

  .subcat-banner {
    display: none;
  }

  .subcat-card-wrapper {
    width: auto;
    max-width: 40%;
    min-width: 130px;
    height: auto;
    padding: 14px 14px 22px 14px;
  }

  .subcat-card-image {
    width: 120px;
    height: 130px;
    object-fit: contain;
    height: auto;
  }

  .title-1 {
    font-size: 24px !important;
  }
}

//sm
@media screen and (min-width: 581px) and (max-width: $sm) {
  .subcat-banner {
    display: none;
  }
}
//md
@media screen and (min-width: 771px) and (max-width: $md) {
  .subcat-banner {
    display: none;
  }
}
//lg
@media screen and (min-width: 1251px) and (max-width: $lg) {
}

//xl
@media screen and (min-width: 1501) and (max-width: $xl) {
}
