@import '../../../styles/constants.scss';

.regional-store-title {
  font-family: $bold;
  font-size: 36px;
  margin: 0 0 32px 0;
  display: flex;
  align-items: flex-start;
}

.regional-store-title-container {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.regional-store-row {
  display: flex;
}

.regional-store-text {
  font-family: $regular;
  font-size: 14px;
}

.regional-store-map-cards {
  display: flex;
  flex-direction: column;
  width: 586px;
  margin-right: 60px;
  justify-content: center;
  align-items: center;
}

//xs
@media screen and (min-width: 300px) and (max-width: $xs) {
  .leaflet-container,
  #mapid {
    height: 205px !important;
    max-width: 300px !important;
  }

  .regional-store-row {
    flex-direction: column;
    max-width: 300px !important;
  }

  .regional-store-map-cards {
    max-width: 300px;
  }

  .boxes-container {
    flex-direction: column !important;
    margin: 16px 0 32px !important;
    align-items: center;
    max-width: 300px;
  }

  .box-containers {
    width: 300px !important;
    margin-right: 0 !important;
    margin-bottom: 16px;
  }

  .regional-store-title {
    font-size: 24px;
    margin: -16px 0 16px;
  }

  .regional-store-text {
    margin-bottom: 24px;
  }
}

//sm
@media screen and (min-width: 581px) and (max-width: $sm) {
  .leaflet-container,
  #mapid {
    height: 300px !important;
    max-width: 549px !important;
  }

  .regional-store-row {
    flex-direction: column;
    max-width: 549px !important;
  }

  .regional-store-map-cards {
    max-width: 549px;
  }

  .boxes-container {
    flex-direction: row !important;
    margin: 16px 0 32px !important;
    align-items: center;
    max-width: 549px;
    align-self: start;
    justify-content: space-between;
  }

  .box-containers {
    width: 270px !important;
  }

  .regional-store-title {
    font-size: 24px;
    margin: -16px 0 16px;
  }

  .regional-store-text {
    margin-bottom: 24px;
  }
}

//md
@media screen and (min-width: 771px) and (max-width: $md) {
  .leaflet-container,
  #mapid {
    height: 350px !important;
    width: 739px !important;
  }

  .regional-store-row {
    flex-direction: column;
    max-width: 739px !important;
    align-items: center;
  }

  .regional-store-map-cards {
    max-width: 549px;
    margin: 0 !important;
  }

  .boxes-container {
    margin: 16px 0 32px !important;
    align-items: center;
    max-width: 739px;
  }

  .box-containers {
    width: 375px !important;
    margin-right: 32px !important;
    &:nth-child(2) {
      margin-right: 0 !important;
    }
  }

  .regional-store-title {
    font-size: 24px;
    margin: -16px 0 16px;
  }

  .regional-store-text {
    margin-bottom: 24px;
  }
}
