@import '../../../../styles/constants.scss';
$height: 100px;

.slider-container {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.slider {
  width: 90%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: none;
}

.current {
  display: block;
}

.no-display {
  display: none;
}

.slide {
  position: relative;
  max-width: 60%;
  transition: 0.7s;
}

.partner-img {
  object-fit: cover;
  height: 100px;
  width: auto;
  margin: 0 15px;
}

%btn-styles {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  height: 5vh;
  background: none;
  cursor: pointer;
  z-index: 5;
  border: none;
  outline: none;
  transition: 0.3s;
  color: #000;
  &:hover {
    color: #cccccc;
    cursor: pointer;
  }
  font-size: 48px;
}

#goLeft {
  left: 0;
  @extend %btn-styles;
}

#goRight {
  right: -3.5%;
  @extend %btn-styles;
}
