.blog-page {
  width: 100%;
}

.blog-page-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-page-container:focus {
  outline: none;
}

a {
  color: inherit;
}

.blog-page-title {
  font-family: $bold;
  font-size: 36px;
  color: $black;
  margin: 0 0 32px 0;
}

.blog-card-container {
  width: 362px;
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 24px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 350ms ease;

  &:hover {
    box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.blog-card-content {
  padding: 16px 35px 16px;
}

.blog-card-img {
  height: 186px;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.blog-card-title-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 52px;
}

.blog-card-title-flex-mobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.blog-card-title {
  align-self: center;
  font-family: $bold;
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blog-card-date {
  font-family: $medium;
  font-size: 12px;
  color: $grey;
  align-self: center;
}

.blog-card-description {
  font-family: $regular;
  font-size: 12px;
  color: $black;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blog-card-description-mobile {
  margin-top: 8px;
  height: auto;
  line-height: 12px;
}

//xs
@media screen and (min-width: 0) and (max-width: $xs) {
  .blog-page-container {
    justify-content: center;
    gap: 20px;
    & a {
      width: 100%;
    }
  }

  .blog-card-container {
    width: 100%;
    height: auto;
    margin: 0;
    &:focus {
      outline: none;
    }
  }

  .blog-card-img {
    width: 100%;
    height: 175px;
  }

  .blog-page-title {
    font-size: 24px;
  }

  .blog-card-content {
    padding: 10px 20px 16px 20px;
  }

  .blog-card-description {
    font-size: 10px;
  }

  .blog-card-title {
    font-size: 16px;
    height: auto;
  }

  .blog-card-date {
    font-size: 10px;
  }
}

//sm
@media screen and (min-width: 581px) and (max-width: $sm) {
  .blog-page-container {
    & a {
      width: 48%;
    }
  }

  .blog-card-container {
    width: 100%;
    height: auto;
    &:focus {
      outline: none;
    }
  }

  .blog-card-img {
    width: 100%;
    min-height: 145px;
    height: auto;
  }

  .blog-card-content {
    padding: 10px 20px 16px 20px;
  }
}
//md
@media screen and (min-width: 771px) and (max-width: $md) {
  .blog-page-container {
    & a {
      width: 48%;
    }
  }

  .blog-card-container {
    width: 100%;
    height: auto;
    margin-bottom: 8%;
    &:focus {
      outline: none;
    }
  }

  .blog-card-img {
    width: 100%;
    min-height: 145px;
    height: auto;
  }

  .blog-card-content {
    padding: 10px 20px 16px 20px;
  }
}
