$white: #ffffff;
$carousel-height: 434px;

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  left: 3% !important;
}
.slick-next {
  right: 3% !important;
}

.slick-arrow:hover {
  color: rgb(204, 204, 204) !important;
}

.slick-arrow {
  font-size: 1.5rem !important;
  z-index: 4;
  cursor: pointer;
  color: $white;
}

.slick-arrow-bg {
  width: 45px;
  height: 55px;
  z-index: 5;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  @extend %flex;
  background: rgba($color: #807e7c, $alpha: 0.5);
  border-radius: 0px 30px 30px 0px;
}

.icons > * {
  @extend %flex;
  width: 12px;
  height: 40px;
}

.slick-arrow-bg-next {
  right: 0 !important;
  border-radius: 30px 0 0 30px;
}

.slick-slider {
  @extend %flex;
}

.carousel-container {
  margin: auto;
  height: $carousel-height;
  width: 100%;
  border-radius: 16px !important;
}

.carousel-img {
  height: $carousel-height;
  width: 100%;
  object-fit: cover;
  border-radius: 16px !important;
}

.carousel-img-container {
  outline: none;
}

//dots position
.slick-dots {
  position: absolute;
  bottom: 40px !important;
  display: block;
  width: 100%;
  padding: 10;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 5 !important;
}

//dots color
.slick-dots li button:before {
  font-size: 0.6rem !important;
  color: $white !important;
  opacity: 0.7 !important;
}

.slick-dots li.slick-active button:before {
  font-size: 1rem !important;
  color: $primaryColor !important;
}

//to review
@media screen and (min-width: 300px) and (max-width: $xs) {
  .carousel-img {
    height: 130px;
  }
  .carousel-container {
    height: 130px;
  }

  .slick-dots {
    top: 75% !important;
    li {
      width: 2px !important;
      height: 2px !important;
      margin: 0 10px !important;
    }
    li .active {
      width: 3px !important;
      height: 3px;
    }
  }

  .slick-arrow-bg {
    width: 30px;
    height: 30px;
  }

  .icons > * {
    width: 10px !important;
    height: 25px !important;
  }
}
