@import '../app/common/footer/Footer';
@import '../app/app-features/home-page/CarouselComponent/Slider';
@import '../app/app-features/home-page/PartnerList/PartnerList';

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
