@import '../app/common/footer/Footer';
@import '../app/app-features/regional-store/contact-box/ContactBox';
* {
    font-family: 'Roboto', sans-serif !important;
}

.cursor-pointer {
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}