@import '../../../../styles/constants.scss';

.mobile-header-container {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  background: $primaryColor;
}

.mobile-logo-wrapper {
  display: flex;
  justify-content: space-between;
}

.mobile-icons-wrapper {
  display: flex;
  align-items: center;
}

.mobile-logo {
  background: url('../../../../../public/svg/LogoSmall.svg');
  width: 33px !important;
  height: 33px !important;
  margin: auto;
}

.mobile-burger-icon {
  background: url('../../../../../public/svg/BurgerIconSmall.svg') no-repeat;
  width: 14px;
  height: 12px;
}

.mobile-search-icon {
  background: url();
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

.mobile-cart-icon {
  background: url('../../../../../public/svg/CartIconSmall.svg');
  width: 23px;
  height: 20px;
  position: relative;
}

.mobile-heart-icon {
  background: url('../../../../../public/svg/HeartIconSmall.svg');
  width: 20px;
  height: 18px;
  margin-left: 15px;
  position: relative;
}

.mobile-notification-icon {
  width: 10px !important;
  height: 10px !important;
  background: $notificationIconBg;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -4px;
  top: -3px;
  font-size: 6px;
  color: $black;
  font-family: $regular;
  border-radius: 5px;
}

.drawer-footer-wrapper {
  width: 100%;
  background: $primaryColor;
}

.mobile-drawer-footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: $bold;
  font-family: $medium;
  font-size: 16px;
  color: $white;
}

.mobile-menu-item {
  font-family: $bold;
  font-size: 16px;
  margin-left: -10px;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mobile-menu-child-item {
  font-family: $medium;
  font-size: 16px;
  margin: 5px 0 12px 8px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.drawer-logo {
  display: flex;
  background: url('../../../../../public/svg/cegoltar-drawer-logo.svg');
  width: 146px;
  height: 28px;
  position: absolute;
  left: 30px;
  top: 20px;
}

.mobile-search-input {
  outline: none;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: $medium;
  color: $darkGrey;
  font-size: 14px;

  background: $primaryColor
    url('../../../../../public/svg/SearchIconSmall.svg') no-repeat
    9px center;
  border: none;
  padding: 6px 6px 6px 30px;
  
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  width: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-search-input:focus {
  color: $black;
  width: 70%;
  margin-left: 16px;
  background: $white
    url('../../../../../public/svg/search-icon-gray.svg') no-repeat
    9px center;
	padding-left: 32px;
  background-color: $white;
}

.mobile-search-input::-webkit-search-decoration,
.mobile-search-input::-webkit-search-cancel-button {
  display: none;
}

.mobile-search-wrapper {
  margin-left: 16px;
}

@media screen and (min-width: $md) {
  .mobile-header-container {
    display: none;
  }
}
