@import '../../../styles/constants.scss';

.header {
  position: relative;
  z-index: 999 !important;
}

.header-static {
  height: 80px;
  width: $width;
  display: flex;
  justify-content: flex-end;
  font-family: $medium;
  font-size: 12px;
  color: $primaryColor;
  margin: auto;
}

.header-background-full {
  &.bg-fixed {
    position: fixed;
    top: 0;
  }
  position: absolute;
  background: #124193;
  height: 65px;
  left: 0;
  width: 100vw;
  z-index: 9;
  top: 80px;
}

#header-relative {
  &::before {
    content: '';
  }
  //transition: top 0.3s ease;
  height: 65px;
  width: $width;
  top: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.header-clipped-part {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 16px 16px 0;
  font-family: $medium;
  font-size: 12px;
  color: $white;
  background: $primaryColor;
  transition: border-raius 125ms cubic-bezier(0.33, 1, 0.68, 1);
}

.header-clipped-part:before {
  //content: '';
  position: absolute;
  left: -65px;
  width: 82px;
  height: 65px;
  clip-path: ellipse(98% 94% at 0% 50%);
  background: #f8f8f8;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  transition: border-raius 125ms cubic-bezier(0.33, 1, 0.68, 1);
}

//.menu-is-opened {
//  .header-clipped-part {
//    border-bottom-right-radius: 0;
//    border-bottom-left-radius: 0;
//  }
//  .header-clipped-part:before {
//    border-radius: 16px 0 0 0;
//    background: $primaryColor;
//  }
//}

.header-fixed {
  position: fixed !important;
  top: 0;
}

#header-relative.hide {
  top: -85px;
}

#homepage.add-padding {
  padding-top: 65px;
}

.header-phone {
  margin-left: 8px;
  padding-top: 1px;
  text-decoration: none;
  color: $primaryColor;
  margin: auto 0;
  border-radius: 16px;
  border: 1px solid $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  margin-right: 30px;
}

.header-phone:focus {
  outline: none;
}

.phone-icon-wrapper {
  display: flex;
  margin: auto 0;
}

.header-phone-icon {
  width: 8px;
  height: 8px;
  margin: auto;
  background: $phoneIcon;
  margin-right: 10px;
}

.logo-wrapper {
  background: $primaryColor;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.logo {
  width: 65px;
  height: 65px;
  background-image: $logoClear;
  background-repeat: no-repeat;
  background-position: center;
}

.extendend-logo {
  margin-right: auto;
  width: 200px;
  background-size: 200px;
  background-image: $extendedLogo;
  background-repeat: no-repeat;
  background-position: center;
}

.header-links {
  padding: 0 30px;
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links a {
  color: $primaryColor;
  text-decoration: none;
}

.header-links a:focus {
  outline: none;
}

.header-links {
  &.ru {
    width: 400px
  }
}

// Mega menu button
.header-menu {
  padding-left: 30px;
  display: flex;
  width: 227px;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  height: 70%;
  margin: auto 0;
  background: none;
  border: none;
}

.header-menu:focus {
  outline: none;
}

.burger-icon {
  width: 18px;
  height: 14px;
  background: $burgerIcon;
  margin-right: 10px;
}

.button-text {
  font-family: $medium;
  font-size: 18px;
  color: $white;
}

// Icons wrapper
.header-cart-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  margin-right: 30px;
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.header-cart-icon {
  width: 21px;
  height: 21px;
  background: $cartIcon;
  cursor: pointer;
  position: relative;
}

.header-favorites-icon {
  width: 20px;
  height: 20px;
  background: $heartIcon;
  cursor: pointer;
  position: relative;
}

.cart-notification {
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: $notificationIconBg;
  border-radius: 10px;
  position: absolute;
  top: -2px;
  right: -5px;
  color: $primaryColor;
}

.add-margin {
  margin-top: 65px;
}

@media screen and (min-width: 0) and (max-width: $md) {
  .header-relative {
    display: none;
  }

  .header-static {
    display: none !important;
  }

  .header {
    display: none;
  }
}

