@import '../../../styles/constants.scss';

.guarantees-container {
  width: $width;
  font-size: 16px;
  font-family: $regular;
  margin-bottom: 50px;
}

.terms-page-name {
  font-family: $bold;
  font-size: 32px;
  margin-bottom: 26px;
}

.terms-list {
  text-indent: -22px;
  margin-left: 26px;
  margin-top: 15px;
}

.terms-paragraph-18 {
  font-size: 18px;
  font-family: $medium;
}

.terms-paragraph-18-regular {
  font-size: 18px;
  font-family: $regular;
}

.terms-paragraph-18-bold {
  font-size: 18px;
  font-family: $bold;
}

.terms-list-item {
  list-style: disc inside;
  margin-bottom: 10px;
}

.terms-heading {
  margin: 30px 0;
  font-size: 18px;
  font-family: $bold;
}

//xs
@media screen and (min-width: 300px) and (max-width: $xs) {
  .guarantees-container {
    width: 100%;
  }
  p {
    font-size: 14px;
  }
  .terms-page-name {
    font-size: 24px;
  }
  .terms-list-item {
    font-size: 14px;
  }
  .terms-heading {
    margin-bottom: 4px;
  }
}
//sm
@media screen and (min-width: 581px) and (max-width: $sm) {
  .guarantees-container {
    width: 100%;
  }
  p {
    font-size: 14px;
  }
  .terms-page-name {
    font-size: 24px;
  }
  .terms-list-item {
    font-size: 14px;
  }
  .terms-heading {
    margin-bottom: 4px;
  }
}
//md
@media screen and (min-width: 771px) and (max-width: $md) {
  .guarantees-container {
    width: 100%;
  }
  .terms-heading {
    margin-bottom: 4px;
  }
}
//lg
@media screen and (min-width: 1251px) and (max-width: $lg) {
  .guarantees-container {
    width: 100%;
  }
}
