.layout-container {
  width: $width;
  margin: auto;
  min-height: 100vh;
  margin-bottom: -282px;
}

.footer-push {
  height: 282px;
}

@media screen and (min-width: 300px) and (max-width: $xs) {
  .layout-container {
    max-width: 320px;
    padding: 10px;
  }
}
