@import '../../../../styles/constants.scss';

.product-list-container {
  display: flex;
  flex-direction: column;
}

.product-list-header {
  font-family: $bold;
  font-size: 36px;
  color: $black;
  margin: 62px 0 32px 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px 32px;
  max-width: 100%;
}

//xs
@media screen and (min-width: 300px) and (max-width: $xs) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 10px;
    max-width: 300px !important;
  }
}

//sm
@media screen and (min-width: 581px) and (max-width: $sm) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px 12px;
    max-width: 508px !important;
  }

  .product-list-container {
    justify-content: center;
    align-items: center;
  }
}

//md
@media screen and (min-width: 771px) and (max-width: $md) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px 12px;
    max-width: 739px !important;
    justify-content: center;
  }

  .product-list-container {
    justify-content: center;
    align-items: center;
  }
}

//lg
@media screen and (min-width: 1251px) and (max-width: $sm) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px 12px;
    max-width: 581px !important;
  }
}
