@import '../../../../styles/constants.scss';

.product-list-container {
  display: flex;
  flex-direction: column;
}

.product-list-header {
  font-family: $bold;
  font-size: 36px;
  color: $black;
  margin: 62px 0 32px 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px 32px;
  width: 100%;
}

//to change
@media (max-width: 376px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
