@import '../../../../styles/constants.scss';

.product-list-container {
  display: flex;
  flex-direction: column;
}

.product-list-header {
  font-family: $bold;
  font-size: 36px;
  color: $black;
  margin-bottom: 32px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
