@import '../../../../styles/constants.scss';

.boxes-container {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 60px;
}

.contact-box-h1 {
  font-family: $bold;
  font-size: 24px;
  margin: 0 0 16px 0;
  align-self: start;
}

.box-containers {
  background: $white;
  width: 277px;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 350ms ease;
  &:hover {
    box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
  }
}

.svg {
  width: 22px !important;
  height: 28px !important;
  margin-right: 20px;
}

.box-containers:first-child {
  margin-right: 32px;
}

.contact-box-info-container {
  display: flex;
  flex-direction: column;
  font-family: $medium;
  font-size: 12px;
}

.contact-box-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
