.footer-icons {
    margin-right: 11.75px;
}

.footer-copywright {
    color: #ACB5BD;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-copy-div {
    margin-bottom: 21px;
}

.footer-info:first-child {
    margin-right: 104px;
}

.footer-hr {
    margin-bottom: 19px;
    margin-top: 19px;
}