@import '../../../styles/constants.scss';

.footer {
  height: 282px !important;
  display: flex;
  background: $primaryColor;
}

.footer-wrapper {
  margin: 0 auto;
  height: 100%;
  width: $width;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  color: $white;
}

.footer-links-wrapper {
  width: 50%;
  display: flex;
}

.footer-links-group {
  display: flex;
  flex-direction: column;
}

.footer-links-heading {
  font-family: 'Bold';
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-link {
  font-family: 'Medium';
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-phone-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer-phone-number {
  text-align: right;
  font-family: "Medium";
  font-size: 16px;
}

.footer-logo {
  display: flex;
  justify-content: flex-end;
}

.footer-divider {
  width: $fullWidth;
  height: 1px;
  opacity: 0.2;
  background: $grey;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
}

.footer-social-icons {
  display: flex;
}

.footer-icon {
  margin-right: 12px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.footer-copyright-text {
  font-family: 'Medium';
  font-size: 12px;
  color: $grey;
}
