@import '../../../styles/constants.scss';

//Image Component
.big-image {
  width: 333px;
  height: 333px;
  object-fit: cover;
  border-radius: 16px;
}

.small-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 342px;
  margin-top: 13px;
}

.small-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 9px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
}

.small-img-active {
  opacity: 1;
  transform: scale(1.04);
  transition: scale 0.3s;
}

.product-details-container {
  @extend %flex-column;
  width: 100%;
}

.product-details-flex {
  display: flex;
  justify-content: space-between;
}

.product-details-slideshow {
  margin-right: 192px;
}

.product-details-title {
  font-family: $medium;
  font-size: 38px;
  text-align: left;
  margin: 0;
}

.product-details-info {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.product-details-in-stock {
  font-family: $bold;
  font-size: 14px;
  color: #36b368;
}

.product-details-serial-nb {
  text-transform: uppercase;
  font-family: $regular;
  font-size: 14px;
  color: #acb5bd;
}

.product-details-text {
  font-family: $regular;
  font-size: 16px;
  color: $black;
  margin-bottom: 14px;
}

.product-details-detalii {
  font-family: $regular;
  font-size: 14px;
  color: #124193;
  text-decoration: underline;
}

.product-details-cart-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}

.product-details-price {
  color: $black;
  font-family: $bold;
  font-size: 48px;
  margin: 0;
}

.product-details-add-to-cart {
  @extend %flex-row;
  width: 208px;
  height: 38px;
  border-radius: 8px;
  background: rgba(18, 65, 147, 1);
  cursor: pointer;
  margin-left: 16px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.product-details-add-to-cart-flex {
  display: flex;
}

.product-details-add-text {
  margin-left: 16px;
  font-family: $bold;
  font-size: 18px;
  color: #ffffff;
}

.product-details-counter {
  width: 96px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $regular;
  font-size: 18px;
  vertical-align: middle;
}

.product-details-counter > div {
  @extend %flex-row;
  margin: 0;
}

.product-details-center-counter {
  background: #f9f9f9;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  flex: 1.5;
  height: 100%;
}

.product-details-counters {
  flex: 1;
  height: 100%;
  cursor: pointer;
}

.product-details-questions {
  display: flex;
  font-family: $bold;
  font-size: 12px;
  justify-content: flex-end;
  a {
    text-decoration: underline;
    cursor: pointer;
    color: #124193;
  }
}

//Characteristics Tables
.characteristics-tables {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}

.characteristics-table {
  font-family: $bold;
  background: $white;
  border-radius: 16px;
  width: 548px;
  height: 248px;

  .table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    height: 100%;
  }

  .table-head th {
    font-size: 18px;
    padding: 12px 0 12px 16px;
  }

  thead tr th {
    font-size: 18px;
  }

  tbody tr {
    display: flex;
    align-items: center;
  }

  tbody tr th,
  tbody tr td {
    flex: 1;
  }

  tbody tr th {
    padding: 16px !important;
    font-size: 14px;
  }

  tbody tr td {
    font-family: $regular;
    border-collapse: collapse;
  }

  .table tbody tr:nth-child(odd) {
    background: #f9f9f9;
  }
}
